{% extends 'base_1.html' %}{% load static %}

{% block title %}<title>LISTVIEW</title>{% endblock %}

  {% block body %}
  <div class="row container-fluid">     <!-- main container!-->
  <div id="allalbum" class= "col-4">    <!-- allalbum vue instance -->
    <div  v-if='info' >
      <h1>All album page</h1>
      <div class="" v-for="item in info.data">
        <test12 v-bind:info='item'></test12>
      </div>
    </div>
  </div>

  <div id="allartist" class= "col-3">
    <div class="" v-if='artist_info'>     <!-- allartist vue instance -->
      <h1>All artiest page</h1>
      <div class="" v-for="item in artist_info.data">
        <artist v-bind:artist_info='item'></artist>
      </div>
    </div>
  </div>
  <div id="alltracks" class= "col-5">
    <div class="" v-if='tracks_info'>     <!-- allartist vue instance -->
      <h1>All tracks page</h1>
      <div class="" v-for="item in tracks_info.data">
        <tracks v-bind:tracks_info='item'></tracks>
      </div>
    </div>
  </div>
</div>{% endblock %}


<!-- //########################### -->
{% block script %}

<!--################################################################-->
<!--################################################################-->
<!--################################################################-->
<!-- vue component template -->
<!--################################################################-->
<!--################################################################-->
  <script type="text/x-template" id="test12-template">
    <div>{% verbatim %}
      <table class="table table-striped table-dark">  <!-- album component -->
          <tbody>
            <td>{{info.title}}</td>
          </tbody>
      </table>{% endverbatim %}
    </div>
  </script>
<!-- ################################################################-->
  <script type="text/x-template" id="artist-template">
    <div>{% verbatim %}
      <table class="table table-striped table-dark">  <!-- artist component-->
          <tbody>
            <td>{{artist_info.name}}</td>
          </tbody>
      </table>{% endverbatim %}
    </div>
  </script>
<!-- ###########################################-->
  <script type="text/x-template" id="tracks-template">
    <div>{% verbatim %}
      <table class="table table-striped table-dark">  <!-- artist component-->
          <tbody>
            <td>{{tracks_info.name}}</td>
          </tbody>
      </table>{% endverbatim %}
    </div>
  </script>
<!-- ###########################################-->

<script type="text/javascript" src="{% static 'js/allalbum.js' %}"></script>
{% endblock %}
