<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test 1 </title>

    <style media="screen">
      #sub_container{
        width: 100wv;
        border: 1px solid black;
        min-height: 300px;
        padding: 50px;
        max-height: auto
      }
    </style>
  </head>
  <body>
    <h1>Test 1 page</h1>

    <h3>query result</h3>

    <div id="sub_container">

      {{media_count}}<br>
      {{ media_type }}<br>
<ol>

  {% for object in composer %}
    <li>
      {{ object }} -- {{ object.composer }}
    </li>
    {% endfor %}
  </ol>
    </ol>
    </div>
  </body>
</html>
